/* line 17, ../../../../../home/ubuntu/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/ubuntu/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/ubuntu/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/ubuntu/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/ubuntu/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/ubuntu/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/ubuntu/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/ubuntu/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/ubuntu/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* variables */
/* line 10, sass/style.scss */
*, *:before, *:after {
  /* as it should be */
  box-sizing: border-box;
}

/* line 14, sass/style.scss */
html, body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #111111;
}

/* line 20, sass/style.scss */
.sec {
  margin-bottom: 30px;
}

/* line 24, sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin-bottom: 6px;
  padding: 0px;
}

/* line 30, sass/style.scss */
h1 {
  font-size: 28px;
  line-height: 28px;
}

/* line 35, sass/style.scss */
h2 {
  font-size: 24px;
  line-height: 24px;
}

/* line 40, sass/style.scss */
h3 {
  font-size: 20px;
  line-height: 20px;
}

/* line 45, sass/style.scss */
h4 {
  font-size: 18px;
  line-height: 18px;
}

/* line 50, sass/style.scss */
h5 {
  font-size: 16px;
  line-height: 16px;
}

/* line 59, sass/style.scss */
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 8px;
}
/* line 64, sass/style.scss */
p.lead {
  font-size: 22px;
  line-height: 30px;
}

/* line 70, sass/style.scss */
a {
  color: #006789;
}
/* line 73, sass/style.scss */
a:visited {
  color: #006789;
}

/* line 78, sass/style.scss */
a.btn, .btn {
  text-decoration: none;
  padding: 4px;
  outline: 0px solid #111111;
}

/* line 85, sass/style.scss */
blockquote {
  border-left: 3px solid #eeeeee;
  padding: 8px 12px;
  margin: 12px 0px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 100;
}

/* line 94, sass/style.scss */
em {
  font-style: italic;
}

/* line 98, sass/style.scss */
strong {
  font-weight: 400;
}

/* line 102, sass/style.scss */
pre {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,monospace;
  font-size: 14px;
  line-height: 18px;
  margin: 16px 0px;
}

/* line 115, sass/style.scss */
ul.pagination li, ul.pager li {
  display: inline-block;
  padding: 4px;
  text-transform: lowercase;
}
/* line 120, sass/style.scss */
ul.pagination li:first-child, ul.pager li:first-child {
  padding-left: 0px;
}
/* line 124, sass/style.scss */
ul.pagination li.disabled, ul.pager li.disabled {
  display: none;
}
/* line 128, sass/style.scss */
ul.pagination li a, ul.pager li a {
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: border 100ms linear;
}
/* line 134, sass/style.scss */
ul.pagination li a:hover, ul.pager li a:hover {
  border-bottom: 1px solid #111111;
}

/* basic layout */
/* line 144, sass/style.scss */
#container {
  margin: 20px;
  font-weight: 300;
  width: 960px;
}

/* line 150, sass/style.scss */
#sidebar {
  width: 300px;
  float: right;
}

/* line 159, sass/style.scss */
#primary {
  width: 640px;
  font-weight: 300;
  color: #111;
}

/* line 166, sass/style.scss */
#foot {
  margin-top: 80px;
}

/* post list */
/* line 174, sass/style.scss */
ul.posts li {
  margin-bottom: 6px;
}
/* line 177, sass/style.scss */
ul.posts li a {
  text-decoration: none;
  border-bottom: 1px solid #eeeeee;
  transition: border 100ms linear;
}
/* line 182, sass/style.scss */
ul.posts li a:hover {
  border-bottom: 1px solid #111111;
}

/* forms */
/* line 192, sass/style.scss */
input[type=text], input[type=password] {
  font-size: 30px;
  line-height: 30px;
  padding: 6px 8px;
}

/* line 198, sass/style.scss */
input[name=title] {
  width: 100%;
  font-weight: 500;
  border: 1px solid #ccc;
  padding: 6px 8px;
}

/* line 205, sass/style.scss */
#editor {
  /* ace */
  width: 100%;
  height: 400px;
  margin: 6px 0px 10px;
  outline: 1px solid #ccc;
}

/* line 212, sass/style.scss */
input.datetime {
  display: block;
  width: 360px;
  margin-bottom: 10px;
}

/* line 219, sass/style.scss */
.login-form input, #primary input {
  margin-bottom: 6px;
}
/* line 223, sass/style.scss */
.login-form input[type=submit], #primary input[type=submit] {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 30px;
  -webkit-appearance: none;
  background: #111111;
  color: #eeeeee;
  border: none;
  font-weight: 200 !important;
  padding: 7px 9px 9px;
}

/* post display */
/* line 238, sass/style.scss */
div.post {
  margin-bottom: 40px;
}
/* line 241, sass/style.scss */
div.post .head {
  margin-bottom: 10px;
}
/* line 244, sass/style.scss */
div.post .head h1 {
  display: inline-block;
  font-size: 36px;
  line-height: 42px;
  margin-right: 6px;
}
/* line 250, sass/style.scss */
div.post .head h1 a {
  color: #111111;
  text-decoration: none;
  border-bottom: 1px solid #111111;
}
/* line 258, sass/style.scss */
div.post .date.published {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
}
/* line 266, sass/style.scss */
div.post .content h1, div.post .content h2, div.post .content h3, div.post .content h4, div.post .content h5, div.post .content h6 {
  margin-top: 16px;
}
/* line 270, sass/style.scss */
div.post .content h1 {
  font-size: 26px;
  line-height: 22px;
  margin-bottom: 8px;
}
/* line 276, sass/style.scss */
div.post .content h2 {
  font-size: 22px;
  line-height: 22px;
}
/* line 281, sass/style.scss */
div.post .content h3 {
  font-size: 20px;
  line-height: 20px;
}
/* line 286, sass/style.scss */
div.post .content h4 {
  font-size: 18px;
  line-height: 18px;
}
/* line 291, sass/style.scss */
div.post .content img {
  border: none;
  margin: 10px 0px;
  max-width: 620px;
}
/* line 297, sass/style.scss */
div.post .content ul {
  margin: 10px 0px 10px;
  padding-left: 6px;
}
/* line 301, sass/style.scss */
div.post .content ul li {
  list-style-type: disc;
  list-style-position: inside;
  padding-bottom: 8px;
}
/* line 312, sass/style.scss */
div.post .content a {
  padding-bottom: 1px;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
/* line 317, sass/style.scss */
div.post .content a:hover {
  border-bottom: 1px dotted #006789;
}

/* admin */
/* line 332, sass/style.scss */
#admin-bar {
  background: #111111;
  font-weight: 300;
  padding: 9px 20px 0px;
  height: 36px;
  color: #fff !important;
}
/* line 341, sass/style.scss */
#admin-bar.admin a.btn {
  color: #eeeeee;
  outline: none;
  margin-top: 6px;
}

/* misc */
/* line 355, sass/style.scss */
.right {
  float: right;
}

/* line 359, sass/style.scss */
.left {
  float: left;
}

/* line 363, sass/style.scss */
.show {
  display: block;
}

/* line 367, sass/style.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 372, sass/style.scss */
.hide {
  display: none;
}

/* line 376, sass/style.scss */
.ninja {
  visibility: hidden;
}

/* line 380, sass/style.scss */
.ghost {
  opacity: 0.334;
}

/* line 384, sass/style.scss */
.blink {
  /* oh, yes */
  -webkit-animation: blink 1.4s step-end infinite;
  animation: blink 1.4s step-end infinite;
}

/* animations */
@-webkit-keyframes blink {
  /* line 392, sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 396, sass/style.scss */
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  /* line 402, sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 406, sass/style.scss */
  50% {
    opacity: 0;
  }
}
