/* line 17, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* variables */
/* line 10, sass/style.scss */
*, *:before, *:after {
  /* as it should be */
  box-sizing: border-box;
}

/* line 14, sass/style.scss */
html, body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #111111;
}

/* line 20, sass/style.scss */
.sec {
  margin-bottom: 30px;
}

/* line 24, sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin-bottom: 6px;
  padding: 0px;
}

/* line 30, sass/style.scss */
h1 {
  font-size: 28px;
  line-height: 28px;
}

/* line 35, sass/style.scss */
h1.lrg {
  font-size: 38px;
  line-height: 38px;
}

/* line 40, sass/style.scss */
h2 {
  font-size: 24px;
  line-height: 24px;
}

/* line 45, sass/style.scss */
h3 {
  font-size: 20px;
  line-height: 20px;
}

/* line 50, sass/style.scss */
h4 {
  font-size: 18px;
  line-height: 18px;
}

/* line 55, sass/style.scss */
h5 {
  font-size: 16px;
  line-height: 16px;
}

/* line 64, sass/style.scss */
p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}
/* line 69, sass/style.scss */
p.lead {
  font-size: 22px;
  line-height: 30px;
}

/* line 75, sass/style.scss */
a {
  color: #006789;
}
/* line 78, sass/style.scss */
a:visited {
  color: #006789;
}

/* line 83, sass/style.scss */
a.btn, .btn {
  text-decoration: none;
  padding: 4px;
  outline: 0px solid #111111;
}

/* line 90, sass/style.scss */
blockquote {
  border-left: 3px solid #eeeeee;
  padding: 8px 12px;
  margin: 12px 0px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 100;
}

/* line 99, sass/style.scss */
em, i {
  font-style: italic;
}

/* line 103, sass/style.scss */
strong, b {
  font-weight: 400;
}

/* line 107, sass/style.scss */
pre {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,monospace;
  font-size: 14px;
  line-height: 18px;
  margin: 16px 0px;
}

/* line 118, sass/style.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 124, sass/style.scss */
ul.pagination li, ul.pager li {
  display: inline-block;
  padding: 4px;
  text-transform: lowercase;
}
/* line 129, sass/style.scss */
ul.pagination li:first-child, ul.pager li:first-child {
  padding-left: 0px;
}
/* line 133, sass/style.scss */
ul.pagination li.disabled, ul.pager li.disabled {
  display: none;
}
/* line 137, sass/style.scss */
ul.pagination li a, ul.pager li a {
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: border 100ms linear;
}
/* line 143, sass/style.scss */
ul.pagination li a:hover, ul.pager li a:hover {
  border-bottom: 1px solid #111111;
}

/* line 151, sass/style.scss */
.error-bar {
  background-color: #aaa;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  display: none;
}

/* basic layout */
/* line 163, sass/style.scss */
#container {
  margin: 0 auto;
  font-weight: 300;
  width: 960px;
  padding: 20px;
}

/* line 170, sass/style.scss */
#sidebar {
  width: 260px;
  float: right;
}

/* line 179, sass/style.scss */
#primary {
  width: 640px;
  font-weight: 300;
  color: #111;
}

/*
@media all and (max-width: 640px) {

	#container {
		width: 620px;
	}

	#primary {
		width: 100%;
	}

	#sidebar {
		display: none;
	}

}
*/
/* line 204, sass/style.scss */
#footer {
  margin-top: 80px;
  font-size: 14px;
  line-height: 14px;
}

/* post list */
/* line 214, sass/style.scss */
ul.posts li, ul.tags li, ul.files li, ul.blocks li, ul.entity li {
  margin-bottom: 6px;
}
/* line 217, sass/style.scss */
ul.posts li a, ul.tags li a, ul.files li a, ul.blocks li a, ul.entity li a {
  text-decoration: none;
  border-bottom: 1px solid #eeeeee;
  transition: border 100ms linear;
}
/* line 222, sass/style.scss */
ul.posts li a:hover, ul.tags li a:hover, ul.files li a:hover, ul.blocks li a:hover, ul.entity li a:hover {
  border-bottom: 1px solid #111111;
}

/* forms */
/* line 232, sass/style.scss */
input[type=text], input[type=password] {
  font-size: 30px;
  line-height: 30px;
  padding: 6px 8px;
  border: 1px solid #ccc;
}

/* line 239, sass/style.scss */
input[name=title], input[name=subtitle] {
  width: 100%;
  font-weight: 500;
  padding: 6px 8px;
}

/* line 245, sass/style.scss */
input[name=tags] {
  width: 100%;
}

/* line 249, sass/style.scss */
#editor {
  /* ace */
  width: 100%;
  height: 400px;
  margin: 6px 0px 10px;
  outline: 1px solid #ccc;
}

/* line 256, sass/style.scss */
input.datetime {
  float: right;
  display: block;
  width: 360px;
  margin-bottom: 10px;
}

/* line 263, sass/style.scss */
.set-date-btn, .toggle-status-btn {
  float: right;
  padding: 14px 12px;
  cursor: pointer;
  outline: 1px solid #eeeeee;
  margin-right: 5px;
  margin-top: 6px;
}

/* line 273, sass/style.scss */
.login-form input, #primary input {
  margin-bottom: 6px;
}
/* line 277, sass/style.scss */
.login-form input[type=submit], #primary input[type=submit] {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 30px;
  -webkit-appearance: none;
  background: #111111;
  color: #eeeeee;
  border: none;
  font-weight: 200 !important;
  padding: 7px 9px 9px;
  cursor: pointer;
}

/* post display */
/* line 293, sass/style.scss */
div.post {
  margin-bottom: 40px;
}
/* line 296, sass/style.scss */
div.post .head {
  margin-bottom: 10px;
}
/* line 299, sass/style.scss */
div.post .head h1 {
  display: inline-block;
  font-size: 36px;
  line-height: 42px;
  margin-right: 6px;
}
/* line 305, sass/style.scss */
div.post .head h1 a {
  color: #111111;
  text-decoration: none;
  border-bottom: 1px solid #111111;
}
/* line 312, sass/style.scss */
div.post .head h2 {
  font-size: 24px;
  line-height: 30px;
}
/* line 318, sass/style.scss */
div.post .date.published {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
}
/* line 326, sass/style.scss */
div.post .content h1, div.post .content h2, div.post .content h3, div.post .content h4, div.post .content h5, div.post .content h6 {
  margin-top: 16px;
}
/* line 330, sass/style.scss */
div.post .content h1 {
  font-size: 26px;
  line-height: 22px;
  margin-bottom: 8px;
}
/* line 336, sass/style.scss */
div.post .content h2 {
  font-size: 22px;
  line-height: 22px;
}
/* line 341, sass/style.scss */
div.post .content h3 {
  font-size: 20px;
  line-height: 20px;
}
/* line 346, sass/style.scss */
div.post .content h4 {
  font-size: 18px;
  line-height: 18px;
}
/* line 351, sass/style.scss */
div.post .content img {
  border: none;
  margin: 10px 0px;
  max-width: 640px;
}
/* line 357, sass/style.scss */
div.post .content ul {
  margin: 10px 0px 10px;
  padding-left: 6px;
}
/* line 361, sass/style.scss */
div.post .content ul li {
  list-style-type: disc;
  list-style-position: inside;
  padding-bottom: 8px;
}
/* line 372, sass/style.scss */
div.post .content a {
  padding-bottom: 1px;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}
/* line 377, sass/style.scss */
div.post .content a:hover {
  border-bottom: 1px dotted #006789;
}
/* line 388, sass/style.scss */
div.post .tags {
  padding: 8px 0px;
  margin-top: 20px;
}
/* line 394, sass/style.scss */
div.post .tags span a {
  color: #111111;
  text-decoration: none;
  padding: 5px 7px;
  background-color: #eeeeee;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.05s linear;
}
/* line 403, sass/style.scss */
div.post .tags span a:hover {
  color: #eeeeee;
  background-color: #111111;
}

/* tags */
/* line 416, sass/style.scss */
.tag-header h1 {
  font-size: 38px;
  line-height: 38px;
}
/* line 421, sass/style.scss */
.tag-header h2 {
  line-height: 32px;
}

/* admin */
/* line 428, sass/style.scss */
#admin-bar {
  background: #111111;
  font-weight: 300;
  padding: 9px 20px 0px;
  height: 36px;
  color: #fff !important;
}
/* line 437, sass/style.scss */
#admin-bar.admin a.btn {
  color: #eeeeee;
  outline: none;
  margin-top: 6px;
}

/* dashboard */
/* line 451, sass/style.scss */
#chart {
  margin-top: 20px;
}
/* line 454, sass/style.scss */
#chart rect {
  fill: #eeeeee;
  pointer-events: all;
  transition: fill 0.2s linear;
}
/* line 460, sass/style.scss */
#chart rect:hover {
  fill: #ddd;
}
/* line 465, sass/style.scss */
#chart text {
  fill: #111111;
  font-size: 14px;
  text-anchor: end;
}
/* line 471, sass/style.scss */
#chart > div {
  background-color: #eeeeee;
  margin-bottom: 1px;
  height: 18px;
  font-size: 12px;
  line-height: 12px;
  padding: 3px;
  text-align: right;
  margin-bottom: 2px;
  transition: background 0.2s linear;
}
/* line 484, sass/style.scss */
#chart > div:hover {
  background-color: #ddd;
}

/* misc */
/* line 492, sass/style.scss */
.right {
  float: right;
}

/* line 496, sass/style.scss */
.left {
  float: left;
}

/* line 500, sass/style.scss */
.show {
  display: block;
}

/* line 504, sass/style.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 509, sass/style.scss */
.hide {
  display: none;
}

/* line 513, sass/style.scss */
.ninja {
  visibility: hidden;
}

/* line 517, sass/style.scss */
.ghost {
  opacity: 0.334;
}

/* line 521, sass/style.scss */
.blink {
  /* oh, yes */
  -webkit-animation: blink 1.4s step-end infinite;
  animation: blink 1.4s step-end infinite;
}

/* animations */
@-webkit-keyframes blink {
  /* line 529, sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 533, sass/style.scss */
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  /* line 539, sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 543, sass/style.scss */
  50% {
    opacity: 0;
  }
}
