@import "compass/reset";

/* variables */
$dark: #111;
$light: #eee;

$cWidth: 620px;

*, *:before, *:after {
	box-sizing: border-box;
}

html,body {
 font-family: 'Roboto', 'Helvetica Neue', sans-serif;
 background-color: #fff;
 color: $dark;
}

.sec {
	margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 100;
	margin-bottom: 6px;
	padding: 0px;
}

h1 {
	font-size: 28px;
	line-height: 28px;
}

h2 {
	font-size: 24px;
	line-height: 24px;
}

h3 {
	font-size: 20px;
	line-height: 20px;
}

h4 {
	font-size: 18px;
	line-height: 18px;
}

h5 {
	font-size: 16px;
	line-height: 16px;
}

h6 {

}

p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 6px;
}

a {
	color: $dark;

	&:visited {
		color: $dark;
	}
}

a.btn, .btn {
	text-decoration: none;

	padding: 4px;
	outline: 0px solid $dark;
}

/* basic layout */

#container {
	margin: 20px;
	font-weight: 300;
	width: 960px;
}

#sidebar {
	width: 300px;
	float: right;
}

#head {

}

#primary {
	width: 640px;

	font-weight: 300;
	color: #111;
}

#foot { 
	margin-top: 80px;
}

/* post list */

ul.posts {

	li {
		margin-bottom: 6px;

		a {
			text-decoration: none;
			border-bottom: 1px solid $light;
			transition: border 100ms linear;

			&:hover {
				border-bottom: 1px solid $dark;
			}
		}
	}

}

/* forms */

input[type=text], input[type=password] {
	font-size: 30px;
	line-height: 30px;
	padding: 6px 8px;
}

input[name=title] {
	width: 100%;
	font-weight: 500;
	border: 1px solid #ccc;
	padding: 6px 8px;
}

#editor { /* ace */
	width: 100%;
	height: 400px;
	margin: 6px 0px;
}

input.datetime {
	display: block;
	margin-bottom: 10px;
}

.login-form, #primary {
	input {
		margin-bottom: 6px;
	}

	input[type=submit] {
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		line-height: 30px;
		-webkit-appearance: none;
		background: $dark;
		color: $light;
		border: none;
		font-weight: 200 !important;
		padding: 7px 9px 9px;
	}
}

/* post display */

div.post {
	margin-bottom: 20px;

	.head {
		margin-bottom: 0px;

		h1 {
			display: inline-block;
			font-size: 36px;
			line-height: 42px;
			margin-right: 6px;
		}
	}

	.date.published {
		display: inline-block;
		text-transform: uppercase;
		font-size: 16px;
	}

	.content {

		h1,h2,h3,h4,h5,h6 {
			margin-top: 16px;
		}

		h1 {
			font-size: 26px;
			line-height: 22px;
			margin-bottom: 8px;
		}

		h2 {
			font-size: 22px;
			line-height: 22px;
		}

		h3 {
			font-size: 20px;
			line-height: 20px;
		}

		h4 {
			font-size: 18px;
			line-height: 18px;
		}

		img {
			border: none;
			margin: 10px 0px;
			max-width: $cWidth;
		}

		ul {
			margin: 10px 0px 10px;
			padding-left: 6px;

			li {
				list-style-type: disc;
				list-style-position: inside;
				padding-bottom: 8px;
			}
		}

		ol {

		}

	}

}

/* admin */

#admin-bar {
	background: $dark;
	font-weight: 300;
	padding: 9px 20px 0px;
	height: 36px;

	color: #fff !important;

	&.admin {
		a.btn {
			color: $light;
			outline: none;
			margin-top: 6px;
		}
	}
}

.admin {

}

/* misc */

.right {
	float: right;
}

.left {
	float: left;
}

.hide {
	display: none;
}

.ninja {
	visibility: hidden;
}

.char {
	display: inline-block;
	width: 15px;
	height: 30px;
	background-color: rgba(0,0,0,1);
}

.blink { /* oh, yes */
	-webkit-animation: blink 1.4s step-end infinite;
	animation: blink 1.4s step-end infinite;	
}

/* animations */

@-webkit-keyframes blink {
		0% {
				opacity: 1;
		}

		50% {
				opacity: 0;
		}
}

@keyframes blink {
		0% {
				opacity: 1;
		}

		50% {
				opacity: 0;
		}
}
