@import "compass/reset";

/* variables */
$dark: #111;
$light: #eee;
$link: #006789;

$cWidth: 620px;

*, *:before, *:after { /* as it should be */
	box-sizing: border-box;
}

html,body {
 font-family: 'Roboto', 'Helvetica Neue', sans-serif;
 background-color: #fff;
 color: $dark;
}

.sec {
	margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 100;
	margin-bottom: 6px;
	padding: 0px;
}

h1 {
	font-size: 28px;
	line-height: 28px;
}

h2 {
	font-size: 24px;
	line-height: 24px;
}

h3 {
	font-size: 20px;
	line-height: 20px;
}

h4 {
	font-size: 18px;
	line-height: 18px;
}

h5 {
	font-size: 16px;
	line-height: 16px;
}

h6 {

}

p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 8px;

	&.lead {
		font-size: 22px;
		line-height: 30px;
	}
}

a {
	color: $link;

	&:visited {
		color: $link;
	}
}

a.btn, .btn {
	text-decoration: none;

	padding: 4px;
	outline: 0px solid $dark;
}

blockquote {
	border-left: 3px solid $light;
	padding: 8px 12px;
	margin: 12px 0px;
	font-size: 24px;
	line-height: 32px;
	font-weight: 100;
}

em {
	font-style: italic;
}

strong {
	font-weight: 400;
}

pre {
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,monospace;
	font-size: 14px;
	line-height: 18px;
	margin: 16px 0px;
}

code {
	
}

ul.pagination, ul.pager {

	li {
		display: inline-block;
		padding: 4px;
		text-transform: lowercase;

		&:first-child {
			padding-left: 0px;
		}

		&.disabled {
			display: none;
		}

		a {
			padding-bottom: 1px;
			text-decoration: none;
			border-bottom: 1px solid #fff;
			transition: border 100ms linear;

			&:hover {
				border-bottom: 1px solid $dark;
			}
		}
	}

}

.error-bar {
	background-color: #aaa;
	color: #fff;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
	font-size: 14px;
	display: none;
}

/* basic layout */

#container {
	margin: 20px;
	font-weight: 300;
	width: 960px;
}

#sidebar {
	width: 300px;
	float: right;
}

#head {

}

#primary {
	width: 640px;

	font-weight: 300;
	color: #111;
}

#foot { 
	margin-top: 80px;
}

/* post list */

ul.posts {

	li {
		margin-bottom: 6px;

		a {
			text-decoration: none;
			border-bottom: 1px solid $light;
			transition: border 100ms linear;

			&:hover {
				border-bottom: 1px solid $dark;
			}
		}
	}

}

/* forms */

input[type=text], input[type=password] {
	font-size: 30px;
	line-height: 30px;
	padding: 6px 8px;
}

input[name=title] {
	width: 100%;
	font-weight: 500;
	border: 1px solid #ccc;
	padding: 6px 8px;
}

#editor { /* ace */
	width: 100%;
	height: 400px;
	margin: 6px 0px 10px;
	outline: 1px solid #ccc;
}

input.datetime {
	float: right;
	display: block;
	width: 360px;
	margin-bottom: 10px;
}

.set-date-btn, .toggle-status-btn {
	float: right;
	padding: 14px 12px;
	cursor: pointer;
	outline: 1px solid $light;
	margin-right: 5px;
	margin-top: 6px;
}

.login-form, #primary {
	input {
		margin-bottom: 6px;
	}

	input[type=submit] {
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		line-height: 30px;
		-webkit-appearance: none;
		background: $dark;
		color: $light;
		border: none;
		font-weight: 200 !important;
		padding: 7px 9px 9px;
		cursor: pointer;
	}
}

/* post display */

div.post {
	margin-bottom: 40px;

	.head {
		margin-bottom: 10px;

		h1 {
			display: inline-block;
			font-size: 36px;
			line-height: 42px;
			margin-right: 6px;

			a {
				color: $dark;
				text-decoration: none;
				border-bottom: 1px solid $dark;
			}
		}
	}

	.date.published {
		display: inline-block;
		text-transform: uppercase;
		font-size: 16px;
	}

	.content {

		h1,h2,h3,h4,h5,h6 {
			margin-top: 16px;
		}

		h1 {
			font-size: 26px;
			line-height: 22px;
			margin-bottom: 8px;
		}

		h2 {
			font-size: 22px;
			line-height: 22px;
		}

		h3 {
			font-size: 20px;
			line-height: 20px;
		}

		h4 {
			font-size: 18px;
			line-height: 18px;
		}

		img {
			border: none;
			margin: 10px 0px;
			max-width: $cWidth;
		}

		ul {
			margin: 10px 0px 10px;
			padding-left: 6px;

			li {
				list-style-type: disc;
				list-style-position: inside;
				padding-bottom: 8px;
			}
		}

		ol {

		}

		a {
			padding-bottom: 1px;
			border-bottom: 1px dotted #ccc;
			text-decoration: none;

			&:hover {
				border-bottom: 1px dotted $link; 
			}
		}

		img {

		}

	}

}

/* admin */

#admin-bar {
	background: $dark;
	font-weight: 300;
	padding: 9px 20px 0px;
	height: 36px;

	color: #fff !important;

	&.admin {
		a.btn {
			color: $light;
			outline: none;
			margin-top: 6px;
		}
	}
}

.admin {

}

/* misc */

.right {
	float: right;
}

.left {
	float: left;
}

.show {
	display: block;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.hide {
	display: none;
}

.ninja {
	visibility: hidden;
}

.ghost {
	opacity: 0.334;
}

.blink { /* oh, yes */
	-webkit-animation: blink 1.4s step-end infinite;
	animation: blink 1.4s step-end infinite;	
}

/* animations */

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}
